body{
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}
.image1{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

a{
    margin: 5px;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
nav{
    display: flex;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}
ul > a, ul > img{
    padding: 0 8px;
}

#middle{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    text-align: center;
}
#searchbarcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 24px;
    padding-left: 14px;
    padding-right: 14px;
}
#searchbarcontainer:hover{
box-shadow: 0 0 10px 0 gainsboro;
}
#searchbarcontainer span{
    cursor: pointer;
}
#searchbar{
    flex-grow: 1;
    border: none;
    outline: none;
}
#buttons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}
.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 9px 17px;
    cursor: pointer;
    background: #f2f2f2;
    border:1px solid #f2f2f2;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5f6368;
}
.button:hover{
    color: black;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}
footer{
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
#footer-left{
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}
#footer-right{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}